<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/aboutus.css">
  <title>Document</title>
</head>
<body>
  <div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">
        TEAM MEMBERS
      </p>
      <p class="text-blk section-subhead-text">
        
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="./static/profile/MS.jpg" alt=""/>
            </div>
            <p class="text-blk name">
              Malay Shah
            </p>
            <p class="text-blk position">
              PG-26
            </p>
            
          
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="/static/profile/SA.jpg" alt=""/>
            </div>
            <p class="text-blk name">
              Saurabh Advani
            </p>
            <p class="text-blk position">
                PG-25
            </p>
            
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="./static/profile/LS.jpg" alt=""/>
            </div>
            <p class="text-blk name">
              Lavanya Singh
            </p>
            <p class="text-blk position">
              PG-20
            </p>
            
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="./static/profile/SJ.jpg" alt=""/>
            </div>
            <p class="text-blk name">
              Sanika Jagtap
            </p>
            <p class="text-blk position">
              PF-38
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html> -->